<div *ngFor="let product of products; let i = index" class="col-sm-12 col-md-6">
  <div class="box box-solid">
    <div class="box-body">
      <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
        {{product.name}}
      </h4>
      <div class="media">
        <div class="media-left">
            <img src="{{product.imageURL}}" alt="{{product.name}}Pro" class="media-object" >
        </div>
        <div class="media-body">
          <div class="clearfix">
            <h4 style="margin-top: 0">{{product.price}} EGP</h4>

            <p>{{product.description}}</p>

            <p class="pull-right">
              <a *ngIf="currentUser.role == 'Admin'" href="#" class="btn btn-success btn-sm ad-click-event" routerLink="update/{{product.id}}">update</a>
              <a *ngIf="currentUser.role == 'Admin'" href="#" class="btn btn-success btn-sm ad-click-event" (click)="delete(i)">delete</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>